.top-header {
    height: 32px;
    min-height: 32px;
    background-color: var(--primary-dark-color);
}

.main-body {
    display: flex;
    flex-direction: column;
    height:100vh;
    margin:0;
}

.main-container {
    
}
